@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700');

.bodyStyle{
    background-color: rgb(217, 253, 119);
}

.jumbotron{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiy6JUFakJatwRTHhsjLbnCH4kkr0l-zxNVVVhn3Vkk45Cx_mz");
    background-size:cover;
    margin: 20px;
    /* background-color: aquamarine; */
    background-repeat: no-repeat;
}

.h1Style{
    font-family: 'UnifrakturCook', cursive;
    font-size: 90px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.input-group{
    max-width: 300px;
    margin: 0 auto;
}

.borderStyle{
    border: darkblue solid 5px;
    border-radius: 8px;
    
}

.textStyle{
    /* text-align: center !important; */
    font-family:'UnifrakturCook', cursive;
    font-size: 25px;
    font-weight: bold;
}